
<div class="card1">
    <div class="row filter-row">
        <div class="col-4"><h2>SETTLEMENT</h2></div>
        <div class="col-2 search-container">
          <div class="search-icon">
            <input matInput #input type="text" id="search-input" class="search-input" placeholder="Search Emp Id/Name">
            <mat-icon>search</mat-icon>
          </div>
        </div>
        <div class="col-2"><button routerLink="/pension/workingsheet-settlement" class="newemployee"  style="color: rgb(59, 11, 51); cursor: pointer; border-radius: 10px;"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
        </svg></span>  NEW EMPLOYEE</button></div>
    
        <div class="col-2"><button (click)="downloadPDF()" class="exportpdf"  style="color: rgb(59, 11, 51); cursor: pointer; border-radius: 10px;">  <span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
          <path d="M7 11l5 5l5 -5" />
          <path d="M12 4l0 12" />
        </svg></span>Export to PDF</button></div>
       
        <div class="col-2">
            <button class="exportexcel"  (click)="  downloadXLSX()"  style="color: rgb(59, 11, 51); cursor: pointer; border-radius: 10px;">
                <span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                    <path d="M7 11l5 5l5 -5" />
                    <path d="M12 4l0 12" />
                  </svg></span>
                Export to Excel
            </button>
        </div>   
    </div>
    <!-- <div class="card  mb-4">
        <div class="row"> -->
        
          <!-- <div class="col-2">
            <input class="input form-control" type="text" name="Search" matInput formControlName="filter" >
          </div> -->
        <!-- </div> -->
        
    
    <!-- </div> -->
    <div  #content class="card card2 tablecolor">
        <table mat-table [dataSource]="workingSheet" class="mat-elevation-z8">
    
            
            <ng-container matColumnDef="position">
              <th class="headerdesign" mat-header-cell *matHeaderCellDef style="border-top-left-radius: 20px; border-bottom-left-radius:20px"> <span> No</span> </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <ng-container matColumnDef="employeeID">
              <th  class="headerdesign" mat-header-cell *matHeaderCellDef> <span></span>Employee ID</th>
              <td mat-cell *matCellDef="let element"> {{element.employeeID}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th  class="headerdesign" mat-header-cell *matHeaderCellDef> <span>Name</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
          
            <ng-container matColumnDef="designation">
              <th   class="headerdesign" mat-header-cell *matHeaderCellDef><span>Designation</span></th>
              <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="officeCode">
              <th  class="headerdesign" mat-header-cell *matHeaderCellDef> <span>OFFICE CODE </span></th>
              <td mat-cell *matCellDef="let element"> {{element.officeCode}}</td>
            </ng-container>
           

            <ng-container matColumnDef="ppoNo">
                <th  class="headerdesign" mat-header-cell *matHeaderCellDef><span>PPO NO</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.ppoNo}} </td>
              </ng-container> 
              
              <ng-container matColumnDef="totalAmount">
                <th  class="headerdesign" mat-header-cell *matHeaderCellDef><span>Total Amount </span></th>
                <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
              </ng-container> 
              <ng-container matColumnDef="totalRecoveries">
                <th  class="headerdesign" mat-header-cell *matHeaderCellDef><span>Total Recoveries</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.totalRecoveries}} </td>
              </ng-container>
              <ng-container matColumnDef="netPayable">
                <th  class="headerdesign" mat-header-cell *matHeaderCellDef><span>Net Payable</span> </th>
                <td mat-cell *matCellDef="let element"> {{element.netPayable}} </td>
              </ng-container>
<ng-container matColumnDef="action">
    <th class="headerdesign" mat-header-cell *matHeaderCellDef style="border-bottom-right-radius: 20px; border-top-right-radius:20px">
        <span> Action </span>
    </th>
    <td mat-cell *matCellDef="let element">
        <mat-icon routerLink="/pension/workingsheet-settlement">update</mat-icon>
        <mat-icon style="margin-left: 5px;">visibility</mat-icon>
    </td>
        </ng-container>
            <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
       
    </div>
    

</div>
<main></main>